<h1>App</h1>
<form>
  <div>
    <p>Enter First Number: <input type="text" name="firstNumber" [(ngModel)]="firstNumber"></p>
    <p>Enter Second Number: <input type="text" name="secondNumber" [(ngModel)]="secondNumber"></p>
  </div>
  <div>
    <button (click)="add()">Add</button>
    <button (click)="subtract()">Subtract</button>
  </div>
  <div>
    <button (click)="multiply()">Multiply</button>
    <button (click)="divide()">Divide</button>
  </div>
</form>
<div>{{result}}</div>

<div>
  <input type="text" [(ngModel)]="selectedValue" (keyup)="searchRepos($event.target.value)">
  <i class="fa fa-search" id="searchIcon"></i>
  <ul *ngIf="response != undefined && response != null" >
    <li *ngFor="let res of response.items" (click)="selectedText(res)">{{res.name}}</li>
  </ul>
</div>
<div *ngIf="displayObj != undefined && displayObj != null">
  <img [src]="displayObj.owner.avatar_url" height="100px"><br>
  <a [href]="displayObj.owner.url" target="_blank">{{displayObj.owner.url}}</a><br>
  <a [href]="displayObj.owner.followers_url" target="_blank">{{displayObj.owner.followers_url}}</a>
</div>